<html>
  <head>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 80%;
      margin: 1%;
      padding: 0;
    }
  </style>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="pagetitle">
      <h3>1) Select Region of Interest</h3>
    </div>
    <div id="map"></div><br />
    <a href="" id="theButton">Add Region of Interest</a><br />
    <div id="container"><br />
      <h3>2) Select Timeframe</h3>
      <div id="main">
        <form method="post" action="formsubmit" id="form1">
          <label for="start_date">Start Date:</label>
          <input type="date" name="start_date"><br />
          <label for="end_date">End Date:</label>
          <input type="date" name="end_date"><br />
          <input type="submit" value="Submit Form" name="theButton">
        </form>
      </div>
    </div>
    <script type="text/javascript">
      // Define global variable stringified.  Value is populated later in
      // local function, but global variable necesseary to send to server.
      var stringified

      // Initialize the map
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.655, lng: -96.677},
          zoom: 4
        });

        // Define the drawing manager and add it to the map
        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.POLYGON,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['polygon']
          }
        });
        drawingManager.setMap(map);

        // Wait for the user to finish drawing the polygon.
        // Package the coordinates of the polygon in a stringified array.
        // JSON.stringify necesseary to send information to the server.
        // (https://www.w3schools.com/js/js_json_stringify.asp)
        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event){
          var verticesMVC = event.overlay.getPath();
          var verticesArray = verticesMVC.getArray();
          stringified = JSON.stringify(verticesArray);
        });

        // function to submit the polygon vertices to server
        document.getElementById("theButton").onclick = function(){
          submitToServer()
        };
        function submitToServer() {
          // ajax the JSON to the submitToServer
          $.post('/reciever', stringified, function(){
            alert("Success!");
        	});
        // prevent the html link from firing, so that polygon info is sent to submitToServer
        // via AJAX but page remains the same.
        event.preventDefault();
        }
      }
    </script>
    <!-- Include Google Maps API (with personal API key) and Google Maps drawing library.
    Callback function allows script to be included at bottom of page -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUQ_FEPgefZIhMj7_PpOr70PreveECDf0&libraries=drawing&callback=initMap"
         async defer></script>
  </body>
</html>
