<html>
 <head>
   <title>Oops!</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div class=oops>
   <div id="container">
     <div class="pagetitle">
       <h3>Polygon too large!</h3>
     </div>
     <div id="main">
       <p>
          Inputted polygon is {{area}}km^2 <br>
          Polygon must be smaller than 10km^2<br>
          Please return to form page and try again<br>
       </p>
     </div>
     <a href="/form" id="theButton">Return to Form</a><br />
   </div>
   </div>
 </body>
</html>
